// height-90 
.height-90 {
  height: 90vh; /* El 90% de la altura de la ventana */
}


// Ejemplo de estilos para un botón
.button {
  position: relative;
  border: 2px solid transparent; // Agrega un borde transparente
  transition: border-color 0.3s ease; // Añade transición al cambio de color del borde
}

.button:hover {
  border-color: #00ff00; // Cambia el color del borde al pasar el ratón
}

.button::before,
.button::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 2px solid transparent;
  pointer-events: none; // Evita que los pseudo-elementos interfieran con los eventos del mouse
}

.button::before {
  top: 0;
  left: 0;
}

.button::after {
  bottom: 0;
  right: 0;
}