:host {
  display: block;
  height: 100%;
  width: 100%;
}

ngx-monaco-editor,
::ng-deep ngx-monaco-editor,
::ng-deep ngx-monaco-editor > div {
  height: 100% !important;
  width: 100% !important;
}

::ng-deep .monaco-editor,
::ng-deep .monaco-editor .overflow-guard,
::ng-deep .monaco-editor .editor-scrollable {
  height: 100% !important;
  width: 100% !important;
}
